body {
  font-family: 'Helvetica Neue';
  
}


::selection {
    color: var(--main-color);
    background: var(--highlight-color);
  }

h1, h2, h3, h4, h5, nav {
    font-family: 'Cousine';
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding:  40px 150px 15px 150px;
}



nav a {
  text-decoration: none;
  margin-left: 10px;
  /* color: black; */
  transition: transform 0.5s;
}

a:hover {
  text-shadow: 1px 1px 10px var(--highlight-color),
    1px 1px 10px var(--highlight-color);
  text-transform: rotate(-90deg);
}

/* .page-footer {
  position: relative;
  bottom: 20px;

} */

.footer-links {
    /* position: fixed;
    bottom: 0px; */
    vertical-align: middle;
    font-size: 9pt;
    width: 30%;
    text-align: center;
    /* padding-left: 50px; */
    padding-bottom: 10px;
    /* background-color: white; */

    /* color: var(--highlight-color); */
  }
  .footer-links img { 
    margin-right: 10px;
    mix-blend-mode: darken;

  }
  
  .tooltip {
    visibility: hidden;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    background: linear-gradient(180deg, var(--highlight-color) 50%, white 120%);
    color: #fff; 
    padding: 3px 10px; 
    border-radius: 5px; 
    white-space: nowrap; 
    box-shadow: 0px 0px 4px var(--highlight-color);
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100%;
    transform: rotate(3deg);

  }

  .footer-icon {
    display: inline-block;
  }

  .footer-icon:hover .tooltip {
    visibility: visible;
  }
  
  .footer-icon:hover {
    transform: rotate(-3deg);
    -webkit-filter: drop-shadow(0px 0px 6px var(--highlight-color));
    /* filter: drop-shadow(2px 2px var(--highlight-color));     */
  }
  
  .footer-icon::after { 
    opacity: 0; 
    pointer-events: none; 
  } 


h1, h2, h3, h4, h5, nav {
    font-family: 'Cousine';
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding:  40px 150px 15px 150px;
    position: sticky;

}
nav a {
    text-decoration: none;
    margin-left: 10px;
    color: black;
    transition: transform 0.5s;
  }

  .icon:hover {
    background-size: 105px;
   box-shadow: 0 0 4px var(--highlight-color);
}

.page-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Cousine';
  font-size: 10pt;
}




#toTop {
  display: none;
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
font-size: 18px;
font-family: 'Cousine';
border: none;
background: linear-gradient(180deg, var(--highlight-color) 50%, white 120%);
border-radius: 10px;
outline: none;
color: var(--main-color);
cursor: pointer;
padding: 5px;
transition: 0.3s;
}

#toTop:hover {
  background: linear-gradient(180deg, var(--highlight-color) 1%, white 150%);

  background-color: white;
  color: var(--main-color);
  box-shadow: 0 0 px var(--highlight-color);
}

#toTop:hover .tooltip {
  visibility: visible;
  left: -50px;
  transform: rotate(0deg);
  font-size: 10pt;
}



.window {
  /* width: 50%; */
  border: 1px solid black;
  margin-bottom: 25px;
  border-radius: 10px;
  background-color: white;
  
}

.window-header {
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid var(--highlight-color);


  color: white;
  padding: 5px;
  font-family: 'Cousine';
  background: linear-gradient(180deg, var(--highlight-color) 50%, var(--main-color) 120%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.window-body {
  padding: 10px;
}

.window-header button {
  margin: none;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  background: linear-gradient(180deg, var(--highlight-color) 70%, white 120%);

}
.window-header button:hover {
  background: var(--main-color);
  color: var(--highlight-color);
  filter: blur(0.1px);
  transform: rotate(-1deg);

}


.window:hover {
  -webkit-filter: drop-shadow(0px 0px 4px var(--highlight-color));
}




.boxy {
  position: relative;
}

.caption {

  position: fixed;
  font-family: 'Cousine';
  font-weight: 200;
  display: block;
  text-align: left;
   padding: 5px;
  z-index: 1;
  color: white;
  visibility: hidden;
  background: linear-gradient(180deg, var(--highlight-color) 80%, var(--main-color) 120%);
  padding: 5px;
  width: 200px;
  border: 1px solid var(--highlight-color);
  box-shadow: 0px 0px 10px var(--highlight-color);

  border-radius: 10px;
}

.boxy:hover .caption {

  /* display: block; */
  z-index: 1;

  visibility: visible;
}


.photoset {
  display: flex;
  flex-direction: row;
}




@media only screen and (max-width: 800px) {
  body {
    background-size: cover;
    position: static;
    padding: 2px;
  }

  nav {
    flex-direction: column;
    text-align: center;
    position: static;
  }
  nav div {
      margin-top: 15px;
  }

.wrapper {
  margin:  20px 30px 0 30px;
  align-items: center;
}

.photoset {
  flex-direction: column;
  justify-content: center;
} 

.photoset img {
  width: 90%;
  margin-left: 5%;
}

}
