:root {

    --highlight-color: rgb(204, 222, 134); 
    --yellow: rgb(229, 217, 116); 
    --blue: rgb(145, 204, 209); 
    --main-color: rgb(0, 0, 0); 


    --bg-color: #fff;
    --margin-line-color: #ec7063;
    --ruling-line-color: #d7ecf1;
}


*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  ::selection {
    background-color: var(--highlight-color);
    color: black;
  }

  body {
    background-image: linear-gradient(90deg, transparent 79px, var(--margin-line-color) 79px, var(--margin-line-color) 81px, transparent 81px), linear-gradient(var(--ruling-line-color) .1em, transparent .1em);
    background-size: 100% 1.2em;
    flex-grow: 8;
    padding-top: .2rem;
    padding-left: 6rem;
    line-height: 1.2;
  
  }

  /* .content img:hover {
    transform: rotate(-1deg);
  } */

  h1:hover {
    color: var(--highlight-color)
  }

/* 
.wrapper h1 h2 h3 h4 h5 {
    font-family: "Helvetica";
    font-size: 18pt;
} */

p {
    font-family: Georgia, serif;
    font-weight: 500;
}

.inline {
    display: flex;
    width: 100%;
    justify-content: center;
}

header h1 {
    font-size: 100px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header p{
    text-align: center;
    font-size: 12pt;
}

header ol {
    margin-left: 30%;
    font-size: 14pt;
}

header a {
    color: black;
    text-transform: uppercase;
    background-color: var(--highlight-color);
}

img {
    filter: brightness(90%) saturate(0%);
}


img:hover {
    filter: brightness(98%) saturate(100%);
}

.twobytwo {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;

}

.twobytwo p {
    width: 200px;
    margin-right: 15px;
    font-size: 12pt;
    /* text-align: justify; */
    justify-content: space-between;
}

.content h2 {
    font-family: 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
    font-size: 36pt;
    transform: rotate(-3deg);
}

.wrapper {
    /* margin-left: 100px; */
    /* margin-right: 0px; */
    padding-left: 100px;
    padding-right: 200px;

    
}

.photoset {
    justify-content: space-evenly;
    margin-top: 10px;
}

.photoset img {

  box-shadow: 0px 0px 10px var(--highlight-color);
}


